// Colores
$verde-petroleo: #4a6e7a;
$lila-suave: #9674b9;
$lila-claro: #e1d6f1;
$gris-texto: #2e2e2e;
$fondo: #f9f9fb;
$footer-bg: #2f2f2f;
$footer-text: #ccc;

// Tipografía
$fuente-principal: 'Quicksand', sans-serif;
