@media (max-width: 767px) {
    .portada h1 {
      font-size: 2.2rem;
    }
    .portada p {
      font-size: 1.2rem;
    }
    .card-img-top {
      height: 150px;
    }
    .btn-group .btn {
      font-size: 1rem;
      padding: 10px 16px;
      margin: 6px 4px;
    }
  }
  